<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744438243452-p8co8b5l4firrat593t766ig2s6ike7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744438243452-p8co8b5l4firrat593t766ig2s6ike7q</string>
	<key>API_KEY</key>
	<string>AIzaSyDH6HgPgZtaSvUQffNr0JSXK2zGB73PrVc</string>
	<key>GCM_SENDER_ID</key>
	<string>744438243452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fennechms.fennechms</string>
	<key>PROJECT_ID</key>
	<string>fennechms</string>
	<key>STORAGE_BUCKET</key>
	<string>fennechms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744438243452:ios:456161202eef4c3445a9f9</string>
</dict>
</plist>